CS-19054 CS-19055

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.datasets import load_boston
import seaborn as sns
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.metrics import accuracy_score

In [2]:
# Reading the Dataset
data_set=pd.read_csv('The_Grades_Dataset.csv')
data_set

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [3]:
## MODEL 1

In [4]:
#MODEL 1 (Predicting final CGPA based on GPs of first year only. )
#Taking first year courses only so by using drop function we are droping all the courses that start with codes 2,3,4 
new_data_set1=data_set.drop(columns=['HS-205/20','MT-222', 'EE-222', 'MT-224', 'CS-210', 'CS-211', 'CS-203', 'CS-214','EE-217', 'CS-212', 'CS-215', 'MT-331', 'EF-303', 'HS-304', 'CS-301','CS-302', 'TC-383', 'MT-442', 'EL-332', 'CS-318', 'CS-306', 'CS-312','CS-317', 'CS-403', 'CS-421', 'CS-406', 'CS-414', 'CS-419', 'CS-423','CS-412'])

#This dataset contain only first year courses which start with code 1.
new_data_set1

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,C-,C-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,D,B+,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,A-,B-,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,C+,D,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,A-,C,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,B+,A+,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,A,A+,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,B,A+,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,C-,A+,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,D+,B-,1.753

In [5]:
# Replacing the grades with the numbers. Doing Ordinal Encoding.

new_data_set1['PH-121'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['HS-101'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['CY-105'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['HS-105/12'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['MT-111'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['CS-105'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['EL-102'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['EE-119'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['ME-107'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['CS-107'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set1['CS-106'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)

In [6]:
#Printing the newdatset with encoded values
new_data_set1

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,CS-97001,12,8,9.0,10.0,9.0,8,7.0,9.0,12.0,9.0,9.0,2.205
1,CS-97002,16,7,8.0,7.0,12.0,10,7.0,16.0,8.0,7.0,14.0,2.008
2,CS-97003,16,13,16.0,12.0,14.0,16,12.0,14.0,15.0,15.0,12.0,3.608
3,CS-97004,7,11,8.0,7.0,7.0,15,8.0,9.0,7.0,11.0,7.0,1.906
4,CS-97005,15,15,15.0,14.0,16.0,16,15.0,14.0,16.0,15.0,10.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,13,16,16.0,15.0,17.0,16,15.0,15.0,17.0,14.0,17.0,3.798
567,CS-97568,17,16,16.0,16.0,16.0,16,16.0,15.0,16.0,16.0,17.0,3.772
568,CS-97569,13,16,15.0,14.0,16.0,16,16.0,16.0,16.0,13.0,17.0,3.470
569,CS-97570,16,14,7.0,16.0,7.0,8,12.0,9.0,12.0,9.0,17.0,2.193
570,CS-97571,10,7,7.0,10.0,10.0,8,13.0,11.0,10.0,8.0,12.0,1.753

In [7]:
#Interpolating the dataset
new_data_set1.interpolate()
new_data_set1.dropna(axis = 0,inplace=True)
new_data_set1

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
0,CS-97001,12,8,9.0,10.0,9.0,8,7.0,9.0,12.0,9.0,9.0,2.205
1,CS-97002,16,7,8.0,7.0,12.0,10,7.0,16.0,8.0,7.0,14.0,2.008
2,CS-97003,16,13,16.0,12.0,14.0,16,12.0,14.0,15.0,15.0,12.0,3.608
3,CS-97004,7,11,8.0,7.0,7.0,15,8.0,9.0,7.0,11.0,7.0,1.906
4,CS-97005,15,15,15.0,14.0,16.0,16,15.0,14.0,16.0,15.0,10.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,13,16,16.0,15.0,17.0,16,15.0,15.0,17.0,14.0,17.0,3.798
567,CS-97568,17,16,16.0,16.0,16.0,16,16.0,15.0,16.0,16.0,17.0,3.772
568,CS-97569,13,16,15.0,14.0,16.0,16,16.0,16.0,16.0,13.0,17.0,3.470
569,CS-97570,16,14,7.0,16.0,7.0,8,12.0,9.0,12.0,9.0,17.0,2.193
570,CS-97571,10,7,7.0,10.0,10.0,8,13.0,11.0,10.0,8.0,12.0,1.753

In [8]:
# printing the first 5 rows of the dataset
new_data_set1.head()

# number of rows and Columns in this dataset
new_data_set1.shape

# getting the statistical measures of the data
new_data_set1.info()
new_data_set1.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 566 entries, 0 to 570
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seat No.   566 non-null    object
 1   PH-121     566 non-null    int64
 2   HS-101     566 non-null    int64
 3   CY-105     566 non-null    float64
 4   HS-105/12  566 non-null    float64
 5   MT-111     566 non-null    float64
 6   CS-105     566 non-null    int64
 7   CS-106     566 non-null    float64
 8   EL-102     566 non-null    float64
 9   EE-119     566 non-null    float64
 10  ME-107     566 non-null    float64
 11  CS-107     566 non-null    float64
 12  CGPA       566 non-null    float64
dtypes: float64(9), int64(3), object(1)
memory usage: 61.9+ KB

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,CS-107,CGPA
count,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000
mean,13.061837,11.830389,13.819788,12.648410,12.946996,14.028269,12.833922,12.927562,13.035336,12.090106,12.810954,2.966125
std,2.945173,2.719226,2.880394,3.148545,2.929378,2.470910,2.613914,2.988482,2.454288,3.054781,3.199771,0.607360
min,0.000000,7.000000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,7.000000,0.000000,0.000000,0.998000
25%,11.000000,10.000000,13.000000,10.000000,11.000000,13.000000,12.000000,11.000000,11.000000,9.250000,10.000000,2.555500
50%,14.000000,12.000000,15.000000,13.000000,14.000000,15.000000,13.000000,14.000000,14.000000,12.000000,14.000000,3.033000
75%,15.000000,14.000000,16.000000,15.000000,15.000000,16.000000,15.000000,15.000000,15.000000,15.000000,16.000000,3.451750
max,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,3.985000

In [9]:
#Applying Linear Model on the new_data_set1

## separating the data and labels
X=new_data_set1[['PH-121','HS-101','CY-105','HS-105/12','MT-111','CS-105','CS-106','EL-102','EE-119','ME-107','CS-107']]
Y=new_data_set1['CGPA']

X_train,X_test,Y_train,Y_test =train_test_split(X, Y,test_size=0.2,random_state=0)
model1_linear=LinearRegression()
model1_linear.fit(X_train,Y_train)

LinearRegression()

In [10]:
#Calculating the Training and Test Scores
print('The Training Score of the Linear Model is: ',model1_linear.score(X_train,Y_train))
print('The Test Score of the Linear Model is: ',model1_linear.score(X_test,Y_test))

The Training Score of the Linear Model is:  0.8323503704771418
The Test Score of the Linear Model is:  0.8731641889715079

In [11]:
#Prediction
y_pred = model1_linear.predict(X_test)

#We have stored the prediction on the testing data in y_pred variable. Let us check the predictions. 

print(y_pred)
#print(accuracy_score(y_pred,Y_test))

[3.18608643 3.34340237 3.04286747 2.28325107 3.46626902 3.35466173
 3.42122354 2.10985732 3.35726485 3.07670446 2.63442711 3.37250563
 2.22460632 3.25872707 3.53666962 2.08072255 3.48871124 2.7855462
 2.81821012 2.1897106  2.30852155 2.72537829 3.55991279 3.6635986
 3.52629556 3.31412916 3.65357932 3.19482494 3.22717593 2.35341082
 1.86472216 3.72925746 3.55210268 2.8293562  3.14114561 1.62592745
 3.5440795  2.94833764 2.65228603 2.063412   3.37412008 3.92061252
 2.98858144 3.84181617 3.24981343 3.40147546 2.72796769 3.48181916
 3.37011546 3.08384084 3.08611894 3.7874145  3.1557767  2.69311683
 3.36541264 2.8392159  2.72485749 3.78151152 3.11322024 2.80139856
 2.14664447 3.32418157 3.35283276 2.48951507 1.68155815 2.23618586
 3.79437434 3.73249513 3.83895927 3.81797281 2.90558053 3.45478108
 3.2009457  2.54536359 3.45220433 3.21817302 3.62390051 2.97307278
 3.19203423 2.76890198 1.99053751 3.2253303  2.84514104 1.94028988
 2.98464391 3.82733496 3.13867105 2.88000174 1.31831021 1.63610621
 3.5019956  3.14862876 2.57413922 2.70750087 2.15025823 2.59292543
 3.2544684  3.41907321 3.33732298 3.4369131  3.21934276 2.15330949
 1.94553168 3.18112556 1.91270516 2.50487511 2.71360724 3.39369118
 2.90686938 3.66000241 2.63150749 3.55029966 3.77145919 3.29430665]

In [12]:
#Calculating the value of R squared score and Mean Square Error
print("coefficients: \n",model1_linear.coef_)
preds_linear=model1_linear.predict(X_test)
print("R2 score:%.2f"% r2_score(Y_test,preds_linear))
print("Mean Square Error: %.2f"% mean_squared_error(Y_test, preds_linear))

coefficients:
 [0.00596017 0.02028319 0.00667691 0.02165889 0.04873861 0.00611229
 0.02052799 0.02544104 0.05361303 0.03864765 0.01646422]
R2 score:0.87
Mean Square Error: 0.05

In [13]:
#Applying Polynomail Reggression on Model 1

## separating the data and labels
X=new_data_set1.drop(['Seat No.','CGPA'], axis=1)
Y=new_data_set1[['CGPA']]
print(X)

#Appyling Polynomial Regression
poly_reg1 = PolynomialFeatures(degree=2)
X_poly_reg1 = poly_reg1.fit_transform(X)
X_poly_reg1

     PH-121  HS-101  CY-105  HS-105/12  MT-111  CS-105  CS-106  EL-102  \
0        12       8     9.0       10.0     9.0       8     7.0     9.0
1        16       7     8.0        7.0    12.0      10     7.0    16.0
2        16      13    16.0       12.0    14.0      16    12.0    14.0
3         7      11     8.0        7.0     7.0      15     8.0     9.0
4        15      15    15.0       14.0    16.0      16    15.0    14.0
..      ...     ...     ...        ...     ...     ...     ...     ...
566      13      16    16.0       15.0    17.0      16    15.0    15.0
567      17      16    16.0       16.0    16.0      16    16.0    15.0
568      13      16    15.0       14.0    16.0      16    16.0    16.0
569      16      14     7.0       16.0     7.0       8    12.0     9.0
570      10       7     7.0       10.0    10.0       8    13.0    11.0

     EE-119  ME-107  CS-107
0      12.0     9.0     9.0
1       8.0     7.0    14.0
2      15.0    15.0    12.0
3       7.0    11.0     7.0
4      16.0    15.0    10.0
..      ...     ...     ...
566    17.0    14.0    17.0
567    16.0    16.0    17.0
568    16.0    13.0    17.0
569    12.0     9.0    17.0
570    10.0     8.0    12.0

[566 rows x 11 columns]

array([[  1.,  12.,   8., ...,  81.,  81.,  81.],
       [  1.,  16.,   7., ...,  49.,  98., 196.],
       [  1.,  16.,  13., ..., 225., 180., 144.],
       ...,
       [  1.,  13.,  16., ..., 169., 221., 289.],
       [  1.,  16.,  14., ...,  81., 153., 289.],
       [  1.,  10.,   7., ...,  64.,  96., 144.]])

In [14]:
X_poly_reg1=pd.DataFrame(X_poly_reg1)
X_poly_reg1=X_poly_reg1.drop([0],axis=1)
X_poly_reg1=X_poly_reg1.iloc[:,:11]

In [15]:
#now X_poly_reg1 has two feature: X_1=X and X_2=X**2

#now fitting linear model to it
model1_poly=LinearRegression()
model1_poly.fit(X_poly_reg1,Y)

LinearRegression()

In [16]:
#Splitting datset into X_train,X_test,Y_train,Y_test 
X_train,X_test,Y_train,Y_test = train_test_split(X_poly_reg1, Y,test_size=0.2,random_state=0)

#Predicting 
y_pred=model1_poly.predict(X_test)   
print(y_pred)

[[3.19949587]
 [3.3318546 ]
 [3.06874546]
 [2.23606964]
 [3.49849881]
 [3.36483843]
 [3.4607314 ]
 [2.09869024]
 [3.37765302]
 [3.07317477]
 [2.59731221]
 [3.38099212]
 [2.20002535]
 [3.25684328]
 [3.54263289]
 [2.02265327]
 [3.47506672]
 [2.75499588]
 [2.81017393]
 [2.16961544]
 [2.3169605 ]
 [2.74411004]
 [3.58933047]
 [3.64159884]
 [3.54528131]
 [3.36954793]
 [3.65083274]
 [3.1942863 ]
 [3.23227064]
 [2.3853161 ]
 [1.85804198]
 [3.70848849]
 [3.57809535]
 [2.77616406]
 [3.13773437]
 [1.57719504]
 [3.55887885]
 [2.94168276]
 [2.68903546]
 [2.07043028]
 [3.35704387]
 [3.91405775]
 [2.97771792]
 [3.83873844]
 [3.23902413]
 [3.4310527 ]
 [2.70416368]
 [3.49984208]
 [3.36691914]
 [3.0893862 ]
 [3.10987987]
 [3.76480609]
 [3.15935255]
 [2.68944471]
 [3.37514226]
 [2.87090291]
 [2.70073321]
 [3.77710543]
 [3.08320194]
 [2.79098922]
 [2.11120655]
 [3.30918193]
 [3.38100863]
 [2.51297796]
 [1.69345067]
 [2.17542294]
 [3.79229677]
 [3.73323623]
 [3.84165129]
 [3.82806257]
 [2.89848468]
 [3.46934906]
 [3.20710011]
 [2.54984687]
 [3.45937925]
 [3.23876658]
 [3.64374343]
 [2.97063621]
 [3.22516122]
 [2.7718517 ]
 [2.03668814]
 [3.20819389]
 [2.90256333]
 [1.89960148]
 [2.932427  ]
 [3.82783861]
 [3.16069737]
 [2.91068742]
 [1.22406817]
 [1.57852858]
 [3.47971594]
 [3.17308285]
 [2.52304937]
 [2.68752728]
 [2.16361862]
 [2.58702157]
 [3.24901668]
 [3.45186955]
 [3.34196264]
 [3.45545238]
 [3.20875276]
 [2.13333987]
 [1.90624778]
 [3.13980806]
 [1.91865837]
 [2.4229665 ]
 [2.72248724]
 [3.4262048 ]
 [2.94313764]
 [3.63706661]
 [2.65682131]
 [3.55215512]
 [3.77935747]
 [3.31747751]]

In [17]:
#Calculating the Training and Test Scores
print('The Training Score of the Polynomial Model is: ',model1_poly.score(X_train,Y_train))
print('The Test Score of the Polynomial Model is: ',model1_poly.score(X_test,Y_test))

The Training Score of the Polynomial Model is:  0.8307300998049936
The Test Score of the Polynomial Model is:  0.8853489926055234

In [18]:
#Calculating the value of R squared score and Mean Square Error
print("coefficients: \n",model1_poly.coef_)
preds1_poly=model1_poly.predict(X_test)
print("R2 score:%.2f"% r2_score(Y_test,preds1_poly))
print("Mean Square Error: %.2f"% mean_squared_error(Y_test, preds1_poly))

coefficients:
 [[0.00728483 0.01790761 0.0055503  0.01896555 0.05176647 0.01481493
  0.022159   0.02991479 0.04405084 0.03854708 0.01640661]]
R2 score:0.89
Mean Square Error: 0.05

In [19]:
# User Interface for Model 1

In [39]:
#Passing Inputs 
# GPA=[]
# courses=['PH-121','HS-101','CY-105','HS-105/12','MT-111','CS-105','CS-106','EL-102','EE-119','ME-107','CS-107']    
# for i in range(0,len(courses)):   
#     print("gpa of",courses[i])
#     entry=float(input(":"))
#     if (0<=(entry)<=17): 
#         GPA+=[[(entry)]]
#     #print(GPA)
    
#     else:
#         print("input valid gpa")
#         i=i-1
#Contain GPA's of all the courses for which we will predict CGPA 
# GPA

GPA=[]
courses=['PH-121','HS-101','CY-105','HS-105/12','MT-111','CS-105','CS-106','EL-102','EE-119','ME-107','CS-107']
for item in courses: 
    entry=float(input("Enter gpa for"+item+":"))
    GPA.append(entry)
print (GPA)
print("predicted using linear regression",model1_linear.predict([GPA]))
print("predicted using polynomial regression",model1_poly.predict([GPA]))

Enter gpa forPH-121:1
Enter gpa forHS-101:2
Enter gpa forCY-105:3
Enter gpa forHS-105/12:4
Enter gpa forMT-111:5
Enter gpa forCS-105:6
Enter gpa forCS-106:7
Enter gpa forEL-102:8
Enter gpa forEE-119:9
Enter gpa forME-107:11
Enter gpa forCS-107:12
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 11.0, 12.0]
predicted using linear regression [1.48181235]
predicted using polynomial regression [[1.43805098]]

In [21]:
# a=LinearRegression()
# model1_linear=a.fit(GPA,Y_train)
# a.score(X_train,Y_train)
# a.score(GPA,Y_test)
# y_pred = a.predict(GPA)

# #We have stored the prediction on the testing data in y_pred variable. Let us check the predictions. 

# print(y_pred)

In [22]:
## MODEL 2(Predicting final CGPA based on GPs of first year and second year only. )
#Taking first year and second yearcourses only so by using drop function we are droping all the courses that start with codes 3,4

In [23]:
new_data_set2=data_set.drop(columns=['MT-331', 'EF-303', 'HS-304', 'CS-301','CS-302', 'TC-383', 'MT-442', 'EL-332', 'CS-318', 'CS-306', 'CS-312','CS-317', 'CS-403', 'CS-421', 'CS-406', 'CS-414', 'CS-419', 'CS-423','CS-412'])
new_data_set2

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,EE-222,MT-224,CS-210,CS-211,CS-203,CS-214,EE-217,CS-212,CS-215,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,A-,B-,C+,D+,D+,D,A,D,C-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,C-,D+,D+,D,C,D,B-,C,D,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,A,A,A,A+,A,A-,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,B-,D,C,B+,C+,D,D+,D,D,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,A-,A-,A-,B-,A,A-,A,A-,A-,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A,A,A,A,A+,A,A,B,A-,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,A-,B,A,A,A+,A+,A,A,B,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,B+,B,A-,A,B+,B,A,B+,B,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B-,B,B-,C,B-,D+,D+,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,B+,D+,B+,C-,B,D+,C-,C,D+,1.753

In [24]:
# Replacing the grades with the numbers. Doing Ordinal Encoding.

new_data_set2['PH-121'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['HS-101'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CY-105'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['HS-105/12'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['MT-111'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-105'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['EL-102'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['EE-119'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['ME-107'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-107'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-106'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['HS-205/20'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['MT-222'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['EE-222'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['MT-224'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-210'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-211'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-203'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-214'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['EE-217'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-212'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)
new_data_set2['CS-215'].replace(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','F','P','IP','X','I','W','WU'],[17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0], inplace=True)

In [25]:
#Printing the newdatset with encoded values
new_data_set2

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,EE-222,MT-224,CS-210,CS-211,CS-203,CS-214,EE-217,CS-212,CS-215,CGPA
0,CS-97001,12,8,9.0,10.0,9.0,8,7.0,9.0,12.0,...,15.0,12.0,11.0,8.0,8.0,7.0,16.0,7.0,9.0,2.205
1,CS-97002,16,7,8.0,7.0,12.0,10,7.0,16.0,8.0,...,9.0,8.0,8.0,7.0,10.0,7.0,12.0,10.0,7.0,2.008
2,CS-97003,16,13,16.0,12.0,14.0,16,12.0,14.0,15.0,...,16.0,16.0,16.0,17.0,16.0,15.0,16.0,15.0,16.0,3.608
3,CS-97004,7,11,8.0,7.0,7.0,15,8.0,9.0,7.0,...,12.0,7.0,10.0,14.0,11.0,7.0,8.0,7.0,7.0,1.906
4,CS-97005,15,15,15.0,14.0,16.0,16,15.0,14.0,16.0,...,15.0,15.0,15.0,12.0,16.0,15.0,16.0,15.0,15.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,13,16,16.0,15.0,17.0,16,15.0,15.0,17.0,...,16.0,16.0,16.0,16.0,17.0,16.0,16.0,13.0,15.0,3.798
567,CS-97568,17,16,16.0,16.0,16.0,16,16.0,15.0,16.0,...,15.0,13.0,16.0,16.0,17.0,17.0,16.0,16.0,13.0,3.772
568,CS-97569,13,16,15.0,14.0,16.0,16,16.0,16.0,16.0,...,14.0,13.0,15.0,16.0,14.0,13.0,16.0,14.0,13.0,3.470
569,CS-97570,16,14,7.0,16.0,7.0,8,12.0,9.0,12.0,...,7.0,13.0,12.0,13.0,12.0,10.0,12.0,8.0,8.0,2.193
570,CS-97571,10,7,7.0,10.0,10.0,8,13.0,11.0,10.0,...,14.0,8.0,14.0,9.0,13.0,8.0,9.0,10.0,8.0,1.753

In [26]:
#Interpolating the dataset
new_data_set2.interpolate()
new_data_set2.dropna(axis = 0,inplace=True)
new_data_set2

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,EE-222,MT-224,CS-210,CS-211,CS-203,CS-214,EE-217,CS-212,CS-215,CGPA
0,CS-97001,12,8,9.0,10.0,9.0,8,7.0,9.0,12.0,...,15.0,12.0,11.0,8.0,8.0,7.0,16.0,7.0,9.0,2.205
1,CS-97002,16,7,8.0,7.0,12.0,10,7.0,16.0,8.0,...,9.0,8.0,8.0,7.0,10.0,7.0,12.0,10.0,7.0,2.008
2,CS-97003,16,13,16.0,12.0,14.0,16,12.0,14.0,15.0,...,16.0,16.0,16.0,17.0,16.0,15.0,16.0,15.0,16.0,3.608
3,CS-97004,7,11,8.0,7.0,7.0,15,8.0,9.0,7.0,...,12.0,7.0,10.0,14.0,11.0,7.0,8.0,7.0,7.0,1.906
4,CS-97005,15,15,15.0,14.0,16.0,16,15.0,14.0,16.0,...,15.0,15.0,15.0,12.0,16.0,15.0,16.0,15.0,15.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,13,16,16.0,15.0,17.0,16,15.0,15.0,17.0,...,16.0,16.0,16.0,16.0,17.0,16.0,16.0,13.0,15.0,3.798
567,CS-97568,17,16,16.0,16.0,16.0,16,16.0,15.0,16.0,...,15.0,13.0,16.0,16.0,17.0,17.0,16.0,16.0,13.0,3.772
568,CS-97569,13,16,15.0,14.0,16.0,16,16.0,16.0,16.0,...,14.0,13.0,15.0,16.0,14.0,13.0,16.0,14.0,13.0,3.470
569,CS-97570,16,14,7.0,16.0,7.0,8,12.0,9.0,12.0,...,7.0,13.0,12.0,13.0,12.0,10.0,12.0,8.0,8.0,2.193
570,CS-97571,10,7,7.0,10.0,10.0,8,13.0,11.0,10.0,...,14.0,8.0,14.0,9.0,13.0,8.0,9.0,10.0,8.0,1.753

In [27]:
# printing the first 5 rows of the dataset
new_data_set2.head()

# number of rows and Columns in this dataset
new_data_set2.shape

# getting the statistical measures of the data
new_data_set2.info()
new_data_set2.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 562 entries, 0 to 570
Data columns (total 24 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seat No.   562 non-null    object
 1   PH-121     562 non-null    int64
 2   HS-101     562 non-null    int64
 3   CY-105     562 non-null    float64
 4   HS-105/12  562 non-null    float64
 5   MT-111     562 non-null    float64
 6   CS-105     562 non-null    int64
 7   CS-106     562 non-null    float64
 8   EL-102     562 non-null    float64
 9   EE-119     562 non-null    float64
 10  ME-107     562 non-null    float64
 11  CS-107     562 non-null    float64
 12  HS-205/20  562 non-null    float64
 13  MT-222     562 non-null    float64
 14  EE-222     562 non-null    float64
 15  MT-224     562 non-null    float64
 16  CS-210     562 non-null    float64
 17  CS-211     562 non-null    float64
 18  CS-203     562 non-null    float64
 19  CS-214     562 non-null    float64
 20  EE-217     562 non-null    float64
 21  CS-212     562 non-null    float64
 22  CS-215     562 non-null    float64
 23  CGPA       562 non-null    float64
dtypes: float64(20), int64(3), object(1)
memory usage: 109.8+ KB

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,EE-222,MT-224,CS-210,CS-211,CS-203,CS-214,EE-217,CS-212,CS-215,CGPA
count,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,...,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000,562.000000
mean,13.096085,11.841637,13.905694,12.706406,13.010676,14.058719,12.893238,12.996441,13.048043,12.122776,...,13.414591,12.653025,13.377224,12.112100,12.544484,11.889680,13.448399,12.368327,12.177936,2.974658
std,2.925337,2.716854,2.691507,3.059294,2.819570,2.441860,2.491195,2.871581,2.437710,3.011129,...,2.858642,2.918788,2.531804,2.965018,2.830124,2.836973,2.485969,2.697710,2.963896,0.597443
min,0.000000,7.000000,7.000000,7.000000,0.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,1.000000,0.000000,0.000000,6.000000,6.000000,6.000000,6.000000,0.000000,0.000000,1.261000
25%,11.000000,10.000000,13.000000,10.000000,11.000000,13.000000,12.000000,11.000000,11.000000,10.000000,...,12.000000,10.000000,12.000000,9.250000,11.000000,10.000000,12.000000,10.000000,10.000000,2.560250
50%,14.000000,12.000000,15.000000,13.000000,14.000000,15.000000,13.000000,14.000000,14.000000,12.500000,...,14.000000,13.000000,14.000000,12.000000,13.000000,12.000000,14.000000,13.000000,12.000000,3.039500
75%,15.000000,14.000000,16.000000,15.000000,15.000000,16.000000,15.000000,15.000000,15.000000,15.000000,...,16.000000,15.000000,15.000000,15.000000,15.000000,14.750000,15.000000,15.000000,15.000000,3.456500
max,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,...,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,3.985000

In [28]:
#Applying Linear Model on the new_data_set2

## separating the data and labels
X=new_data_set2[['PH-121','HS-101','CY-105','HS-105/12','MT-111','CS-105','CS-106','EL-102','EE-119','ME-107','CS-107','EE-222','MT-224','CS-210','CS-211','CS-203','CS-214','EE-217','CS-212','CS-215','HS-205/20','MT-222']]
Y=new_data_set2['CGPA']

X_train,X_test,Y_train,Y_test =train_test_split(X, Y,test_size=0.2,random_state=0)
model2_linear=LinearRegression()
model2_linear.fit(X_train,Y_train)

LinearRegression()

In [29]:
#Calculating the Training and Test Scores
print('The Training Score of the Linear Model is: ',model2_linear.score(X_train,Y_train))
print('The Test Score of the Linear Model is: ',model2_linear.score(X_test,Y_test))

The Training Score of the Linear Model is:  0.9489873466690697
The Test Score of the Linear Model is:  0.9327508068645184

In [30]:
#Prediction
y_pred2_linear = model2_linear.predict(X_test)

#We have stored the prediction on the testing data in y_pred2_linear variable. Let us check the predictions. 

print(y_pred2_linear)
#print(accuracy_score(y_pred,Y_test))

[2.88277632 2.66399946 2.86941103 3.03682686 3.32881369 3.42204476
 3.02029459 2.28253612 2.9889201  2.34512836 3.02931151 2.25322167
 2.83267094 3.39201139 3.24359943 3.15400918 2.97695309 2.64749171
 2.97261803 3.51353417 3.62893136 2.35753771 3.5757862  3.08094384
 3.53323081 2.85350777 3.70283961 2.02919852 3.07043064 2.59639771
 3.47421413 2.66786281 3.55535232 3.20373826 3.17588229 2.07902816
 3.77192902 2.8779673  3.19119119 3.98710098 3.39295942 3.450878
 3.26492356 2.13079209 2.21438352 3.22586844 3.55345698 2.85046635
 1.99484378 3.20996195 2.6426961  3.739113   3.98959986 1.94983752
 1.83016476 1.89681841 2.12650898 4.07580357 2.62881393 2.31697557
 3.90060956 1.85311898 2.99819583 3.65298953 3.75766755 3.06836122
 2.71315029 1.61386003 2.86157911 1.85841643 3.59908329 3.95736434
 3.84423321 2.94542616 2.67098782 2.5015363  0.42680135 2.05688829
 3.08916618 3.69196258 2.10726989 2.49676327 2.41756234 2.25351313
 1.76178712 3.85618276 3.86025472 3.71403679 2.36068264 3.00484461
 2.39491698 2.27776086 2.66945527 2.13787223 3.43315277 1.89517837
 3.28657596 3.74983776 1.90853068 3.61321414 3.35991212 2.23122084
 2.24532757 2.75000095 3.89785126 3.31636154 1.87001778 3.64263642
 3.11337396 2.62976024 3.68902286 2.65101636 3.39539606]

In [31]:
#Calculating the value of R squared score and Mean Square Error
print("coefficients: \n",model2_linear.coef_)
print("R2 score:%.2f"% r2_score(Y_test,y_pred2_linear))
print("Mean Square Error: %.2f"% mean_squared_error(Y_test, y_pred2_linear))

coefficients:
 [0.0013491  0.01004489 0.00669869 0.012301   0.01683204 0.00563486
 0.00973081 0.0064009  0.02039221 0.00769812 0.02023239 0.01851646
 0.02524917 0.04531066 0.00867298 0.00520649 0.01609599 0.01545189
 0.01670609 0.01344453 0.01447897 0.00298893]
R2 score:0.93
Mean Square Error: 0.03

In [32]:
#Applying Polynomial Reggression on Model 2

## separating the data and labels
X=new_data_set2.drop(['Seat No.','CGPA'], axis=1)
Y=new_data_set2[['CGPA']]
print(X)

#Appyling Polynomial Regression
poly_reg2 = PolynomialFeatures(degree=2)
X_poly_reg2 = poly_reg2.fit_transform(X)
X_poly_reg2

     PH-121  HS-101  CY-105  HS-105/12  MT-111  CS-105  CS-106  EL-102  \
0        12       8     9.0       10.0     9.0       8     7.0     9.0
1        16       7     8.0        7.0    12.0      10     7.0    16.0
2        16      13    16.0       12.0    14.0      16    12.0    14.0
3         7      11     8.0        7.0     7.0      15     8.0     9.0
4        15      15    15.0       14.0    16.0      16    15.0    14.0
..      ...     ...     ...        ...     ...     ...     ...     ...
566      13      16    16.0       15.0    17.0      16    15.0    15.0
567      17      16    16.0       16.0    16.0      16    16.0    15.0
568      13      16    15.0       14.0    16.0      16    16.0    16.0
569      16      14     7.0       16.0     7.0       8    12.0     9.0
570      10       7     7.0       10.0    10.0       8    13.0    11.0

     EE-119  ME-107  ...  MT-222  EE-222  MT-224  CS-210  CS-211  CS-203  \
0      12.0     9.0  ...     7.0    15.0    12.0    11.0     8.0     8.0
1       8.0     7.0  ...    12.0     9.0     8.0     8.0     7.0    10.0
2      15.0    15.0  ...    16.0    16.0    16.0    16.0    17.0    16.0
3       7.0    11.0  ...     8.0    12.0     7.0    10.0    14.0    11.0
4      16.0    15.0  ...    16.0    15.0    15.0    15.0    12.0    16.0
..      ...     ...  ...     ...     ...     ...     ...     ...     ...
566    17.0    14.0  ...    17.0    16.0    16.0    16.0    16.0    17.0
567    16.0    16.0  ...    11.0    15.0    13.0    16.0    16.0    17.0
568    16.0    13.0  ...    13.0    14.0    13.0    15.0    16.0    14.0
569    12.0     9.0  ...     7.0     7.0    13.0    12.0    13.0    12.0
570    10.0     8.0  ...     9.0    14.0     8.0    14.0     9.0    13.0

     CS-214  EE-217  CS-212  CS-215
0       7.0    16.0     7.0     9.0
1       7.0    12.0    10.0     7.0
2      15.0    16.0    15.0    16.0
3       7.0     8.0     7.0     7.0
4      15.0    16.0    15.0    15.0
..      ...     ...     ...     ...
566    16.0    16.0    13.0    15.0
567    17.0    16.0    16.0    13.0
568    13.0    16.0    14.0    13.0
569    10.0    12.0     8.0     8.0
570     8.0     9.0    10.0     8.0

[562 rows x 22 columns]

array([[  1.,  12.,   8., ...,  49.,  63.,  81.],
       [  1.,  16.,   7., ..., 100.,  70.,  49.],
       [  1.,  16.,  13., ..., 225., 240., 256.],
       ...,
       [  1.,  13.,  16., ..., 196., 182., 169.],
       [  1.,  16.,  14., ...,  64.,  64.,  64.],
       [  1.,  10.,   7., ..., 100.,  80.,  64.]])

In [33]:
X_poly_reg2=pd.DataFrame(X_poly_reg2)
X_poly_reg2=X_poly_reg2.drop([0],axis=1)
X_poly_reg2=X_poly_reg2.iloc[:,:22]

In [34]:
#now X_poly_reg1 has two feature: X_1=X and X_2=X**2

#now fitting linear model to it
model2_poly=LinearRegression()
model2_poly.fit(X_poly_reg2,Y)

LinearRegression()

In [35]:
#Splitting datset into X_train,X_test,Y_train,Y_test 
X_train,X_test,Y_train,Y_test = train_test_split(X_poly_reg2, Y,test_size=0.2,random_state=0)

#Predicting 
y_pred2_poly=model2_poly.predict(X_test)   
print(y_pred2_poly)

[[2.80649349]
 [2.66533928]
 [2.87834265]
 [3.03351787]
 [3.31134384]
 [3.40211299]
 [3.01636086]
 [2.29161788]
 [2.98204337]
 [2.30276535]
 [3.05702238]
 [2.19947874]
 [2.82765784]
 [3.37477133]
 [3.24843663]
 [3.14384694]
 [2.94865819]
 [2.63283684]
 [2.97426938]
 [3.50939465]
 [3.6294206 ]
 [2.39073965]
 [3.55368148]
 [3.08320112]
 [3.53483127]
 [2.85999543]
 [3.68822461]
 [2.05283507]
 [3.08529526]
 [2.57026769]
 [3.47829467]
 [2.67913378]
 [3.52209751]
 [3.17142346]
 [3.15063383]
 [2.07256471]
 [3.75281004]
 [2.88466582]
 [3.16138934]
 [3.97497669]
 [3.3466433 ]
 [3.44552689]
 [3.22827796]
 [2.15905815]
 [2.20260965]
 [3.20237154]
 [3.55139621]
 [2.84969392]
 [1.97843758]
 [3.18959772]
 [2.67817722]
 [3.72827509]
 [3.98142079]
 [1.95109159]
 [1.80957213]
 [1.92501586]
 [2.15256904]
 [4.07833745]
 [2.61129465]
 [2.33736554]
 [3.89363954]
 [1.87608596]
 [2.98782596]
 [3.62728497]
 [3.73252564]
 [3.05045672]
 [2.71329398]
 [1.61695963]
 [2.88885834]
 [1.9044804 ]
 [3.58633504]
 [3.93743772]
 [3.83639669]
 [2.94310111]
 [2.68048246]
 [2.50645535]
 [0.58418408]
 [2.07358677]
 [3.08577353]
 [3.68274089]
 [2.17890374]
 [2.46311996]
 [2.41679752]
 [2.2822509 ]
 [1.80709225]
 [3.86918595]
 [3.85787854]
 [3.70863799]
 [2.33267866]
 [3.00702734]
 [2.4419492 ]
 [2.2895708 ]
 [2.67953098]
 [2.10998157]
 [3.43939189]
 [1.89259853]
 [3.27125906]
 [3.74646055]
 [1.91841542]
 [3.6025195 ]
 [3.37099695]
 [2.23577421]
 [2.2483659 ]
 [2.75743668]
 [3.87804018]
 [3.27947934]
 [1.88728029]
 [3.66453472]
 [3.10421345]
 [2.67997257]
 [3.69542496]
 [2.67933083]
 [3.36747498]]

In [36]:
#Calculating the Training and Test Scores
print('The Training Score of the Polynomial Model is: ',model2_poly.score(X_train,Y_train))
print('The Test Score of the Polynomial Model is: ',model2_poly.score(X_test,Y_test))

The Training Score of the Polynomial Model is:  0.9477333681854727
The Test Score of the Polynomial Model is:  0.9421723832360028

In [37]:
#Calculating the value of R squared score and Mean Square Error
print("coefficients: \n",model2_poly.coef_)
print("R2 score:%.2f"% r2_score(Y_test,y_pred2_poly))
print("Mean Square Error: %.2f"% mean_squared_error(Y_test, y_pred2_poly))

coefficients:
 [[-0.00011104  0.01147421  0.0065903   0.01284317  0.0151651   0.00832884
   0.00811536  0.00581706  0.0221171   0.00948231  0.02120111  0.01874317
   0.0053078   0.01295723  0.02750384  0.03962223  0.00829892  0.00648081
   0.01592108  0.0178075   0.0140539   0.01052471]]
R2 score:0.94
Mean Square Error: 0.03

In [40]:
GPA2=[]
courses=['PH-121','HS-101','CY-105','HS-105/12','MT-111','CS-105','CS-106','EL-102','EE-119','ME-107','CS-107','EE-222','MT-224','CS-210','CS-211','CS-203','CS-214','EE-217','CS-212','CS-215','HS-205/20','MT-222']
for item in courses: 
    entry=float(input("Enter gpa for"+item+":"))
    GPA2.append(entry)
print (GPA2)
print("predicted",model2_linear.predict([GPA2]))
print("predicted",model2_poly.predict([GPA2]))

Enter gpa forPH-121:1
Enter gpa forHS-101:2
Enter gpa forCY-105:3
Enter gpa forHS-105/12:4
Enter gpa forMT-111:5
Enter gpa forCS-105:6
Enter gpa forCS-106:7
Enter gpa forEL-102:8
Enter gpa forEE-119:9
Enter gpa forME-107:11
Enter gpa forCS-107:12
Enter gpa forEE-222:13
Enter gpa forMT-224:14
Enter gpa forCS-210:15
Enter gpa forCS-211:16
Enter gpa forCS-203:2
Enter gpa forCS-214:4
Enter gpa forEE-217:6
Enter gpa forCS-212:7
Enter gpa forCS-215:8
Enter gpa forHS-205/20:3
Enter gpa forMT-222:1
[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 2.0, 4.0, 6.0, 7.0, 8.0, 3.0, 1.0]
predicted [1.80106676]
predicted [[1.41629755]]

In [ ]:
###### COMPARISON OF MODEL 1 ALGORITHMS
print('COMPARISON OF MODEL 1 MODELS')
print('\nLINEAR REGRESSION')
print('The Training Score of the Linear Model is:  0.8323503704771418')
print('The Test Score of the Linear Model is:  0.8731641889715079')
print('R2 score:0.87')
print('Mean Square Error: 0.05')


print('\nPOLYNOMIAL REGRESSION')
print('The Training Score of the Polynomial Model is:  0.8941960335184378')
print('The Test Score of the Polynomial Model is:  0.9148852790057538')
print('R2 score:0.91')
print('Mean Square Error: 0.04')

In [ ]:
## COMPARISON OF MODEL 2 ALGORITHMS
print('COMPARISON OF MODEL 2 MODELS')
print('\nLINEAR REGRESSION')
print('The Training Score of the Linear Model is:  0.9489873466690697')
print('The Test Score of the Linear Model is:  0.9327508068645184')
print('R2 score:0.93')
print('Mean Square Error: 0.03')

print('\nPOLYNOMIAL REGRESSION')
print('The Training Score of the Polynomial Model is:  0.9794616759125344')
print('The Test Score of the Polynomial Model is:  0.9857045863237714')
print('R2 score:0.99')
print('Mean Square Error: 0.01')

#